<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Expression_0</string>
	<string>Expression_1</string>
	<string>Expression_2</string>
	<string>Expression_3</string>
	<string>Expression_4</string>
	<string>Expression_5</string>
	<string>Expression_6</string>
	<string>Expression_7</string>
	<string>Expression_8</string>
	<string>Expression_9</string>
	<string>Expression_10</string>
	<string>Expression_11</string>
	<string>Expression_12</string>
	<string>Expression_13</string>
	<string>Expression_14</string>
	<string>Expression_15</string>
	<string>Expression_16</string>
	<string>Expression_17</string>
	<string>Expression_18</string>
	<string>Expression_19</string>
	<string>faceDelete</string>
	<string>Expression_20</string>
	<string>Expression_21</string>
	<string>Expression_22</string>
	<string>Expression_23</string>
	<string>Expression_24</string>
	<string>Expression_25</string>
	<string>Expression_26</string>
	<string>Expression_27</string>
	<string>Expression_28</string>
	<string>Expression_29</string>
	<string>Expression_30</string>
	<string>Expression_31</string>
	<string>Expression_32</string>
	<string>Expression_33</string>
	<string>Expression_34</string>
	<string>Expression_35</string>
	<string>Expression_36</string>
	<string>Expression_37</string>
	<string>Expression_38</string>
	<string>Expression_39</string>
	<string>faceDelete</string>
	<string>Expression_40</string>
	<string>Expression_41</string>
	<string>Expression_42</string>
	<string>Expression_43</string>
	<string>Expression_44</string>
	<string>Expression_45</string>
	<string>Expression_46</string>
	<string>Expression_47</string>
	<string>Expression_48</string>
	<string>faceDelete</string>
</array>
</plist>
