<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[em:0]</key>
	<string>Expression_0</string>
	<key>[em:10]</key>
	<string>Expression_10</string>
	<key>[em:11]</key>
	<string>Expression_11</string>
	<key>[em:12]</key>
	<string>Expression_12</string>
	<key>[em:13]</key>
	<string>Expression_13</string>
	<key>[em:14]</key>
	<string>Expression_14</string>
	<key>[em:15]</key>
	<string>Expression_15</string>
	<key>[em:16]</key>
	<string>Expression_16</string>
	<key>[em:17]</key>
	<string>Expression_17</string>
	<key>[em:18]</key>
	<string>Expression_18</string>
	<key>[em:19]</key>
	<string>Expression_19</string>
	<key>[em:1]</key>
	<string>Expression_1</string>
	<key>[em:20]</key>
	<string>Expression_20</string>
	<key>[em:21]</key>
	<string>Expression_21</string>
	<key>[em:22]</key>
	<string>Expression_22</string>
	<key>[em:23]</key>
	<string>Expression_23</string>
	<key>[em:24]</key>
	<string>Expression_24</string>
	<key>[em:25]</key>
	<string>Expression_25</string>
	<key>[em:26]</key>
	<string>Expression_26</string>
	<key>[em:27]</key>
	<string>Expression_27</string>
	<key>[em:28]</key>
	<string>Expression_28</string>
	<key>[em:29]</key>
	<string>Expression_29</string>
	<key>[em:2]</key>
	<string>Expression_2</string>
	<key>[em:30]</key>
	<string>Expression_30</string>
	<key>[em:31]</key>
	<string>Expression_31</string>
	<key>[em:32]</key>
	<string>Expression_32</string>
	<key>[em:33]</key>
	<string>Expression_33</string>
	<key>[em:34]</key>
	<string>Expression_34</string>
	<key>[em:35]</key>
	<string>Expression_35</string>
	<key>[em:36]</key>
	<string>Expression_36</string>
	<key>[em:37]</key>
	<string>Expression_37</string>
	<key>[em:38]</key>
	<string>Expression_38</string>
	<key>[em:39]</key>
	<string>Expression_39</string>
	<key>[em:3]</key>
	<string>Expression_3</string>
	<key>[em:40]</key>
	<string>Expression_40</string>
	<key>[em:41]</key>
	<string>Expression_41</string>
	<key>[em:42]</key>
	<string>Expression_42</string>
	<key>[em:43]</key>
	<string>Expression_43</string>
	<key>[em:44]</key>
	<string>Expression_44</string>
	<key>[em:45]</key>
	<string>Expression_45</string>
	<key>[em:46]</key>
	<string>Expression_46</string>
	<key>[em:47]</key>
	<string>Expression_47</string>
	<key>[em:48]</key>
	<string>Expression_48</string>
	<key>[em:49]</key>
	<string>Expression_49</string>
	<key>[em:4]</key>
	<string>Expression_4</string>
	<key>[em:50]</key>
	<string>Expression_50</string>
	<key>[em:51]</key>
	<string>Expression_51</string>
	<key>[em:52]</key>
	<string>Expression_52</string>
	<key>[em:53]</key>
	<string>Expression_53</string>
	<key>[em:54]</key>
	<string>Expression_54</string>
	<key>[em:55]</key>
	<string>Expression_55</string>
	<key>[em:56]</key>
	<string>Expression_56</string>
	<key>[em:57]</key>
	<string>Expression_57</string>
	<key>[em:58]</key>
	<string>Expression_58</string>
	<key>[em:59]</key>
	<string>Expression_59</string>
	<key>[em:5]</key>
	<string>Expression_5</string>
	<key>[em:60]</key>
	<string>Expression_60</string>
	<key>[em:61]</key>
	<string>Expression_61</string>
	<key>[em:62]</key>
	<string>Expression_62</string>
	<key>[em:63]</key>
	<string>Expression_63</string>
	<key>[em:64]</key>
	<string>Expression_64</string>
	<key>[em:65]</key>
	<string>Expression_65</string>
	<key>[em:66]</key>
	<string>Expression_66</string>
	<key>[em:67]</key>
	<string>Expression_67</string>
	<key>[em:68]</key>
	<string>Expression_68</string>
	<key>[em:69]</key>
	<string>Expression_69</string>
	<key>[em:6]</key>
	<string>Expression_6</string>
	<key>[em:70]</key>
	<string>Expression_70</string>
	<key>[em:71]</key>
	<string>Expression_71</string>
	<key>[em:72]</key>
	<string>Expression_72</string>
	<key>[em:73]</key>
	<string>Expression_73</string>
	<key>[em:74]</key>
	<string>Expression_74</string>
	<key>[em:75]</key>
	<string>Expression_75</string>
	<key>[em:76]</key>
	<string>Expression_76</string>
	<key>[em:77]</key>
	<string>Expression_77</string>
	<key>[em:78]</key>
	<string>Expression_78</string>
	<key>[em:79]</key>
	<string>Expression_79</string>
	<key>[em:7]</key>
	<string>Expression_7</string>
	<key>[em:80]</key>
	<string>Expression_80</string>
	<key>[em:81]</key>
	<string>Expression_81</string>
	<key>[em:82]</key>
	<string>Expression_82</string>
	<key>[em:83]</key>
	<string>Expression_83</string>
	<key>[em:84]</key>
	<string>Expression_84</string>
	<key>[em:85]</key>
	<string>Expression_85</string>
	<key>[em:86]</key>
	<string>Expression_86</string>
	<key>[em:87]</key>
	<string>Expression_87</string>
	<key>[em:88]</key>
	<string>Expression_88</string>
	<key>[em:89]</key>
	<string>Expression_89</string>
	<key>[em:8]</key>
	<string>Expression_8</string>
	<key>[em:90]</key>
	<string>Expression_90</string>
	<key>[em:91]</key>
	<string>Expression_91</string>
	<key>[em:92]</key>
	<string>Expression_92</string>
	<key>[em:93]</key>
	<string>Expression_93</string>
	<key>[em:94]</key>
	<string>Expression_94</string>
	<key>[em:95]</key>
	<string>Expression_95</string>
	<key>[em:96]</key>
	<string>Expression_96</string>
	<key>[em:97]</key>
	<string>Expression_97</string>
	<key>[em:98]</key>
	<string>Expression_98</string>
	<key>[em:99]</key>
	<string>Expression_99</string>
	<key>[em:9]</key>
	<string>Expression_9</string>
</dict>
</plist>
